<div class="flex-container">
    <div *ngFor="let image of doors; let i = index">
        <div *ngIf="image.selected; else notSelected" class="flex-box-selected">
            <div *ngIf="image.opened; else notOpened">
                <img [src]="image.imageURL" class="img-display-opened" />
            </div>
            <ng-template #notOpened>
                <img [src]="image.imageURL" class="img-display" />
            </ng-template>
        </div>
        <ng-template #notSelected>
            <div class="flex-box">
                <div *ngIf="image.opened; else notOpened">
                    <img [src]="image.imageURL" class="img-display-opened" />
                </div>
                <ng-template #notOpened>
                    <img [src]="image.imageURL" class="img-display" />
                </ng-template>
            </div>
        </ng-template>
    </div>
</div>